.mainSlider{
    .carousel-item{
        height: 450px;
        img {
            height: 100%;
            object-fit: cover;
        }
        
    }
}

.carousel-caption{
    top: 25%;
    bottom: auto;
   p{
        text-shadow: 0 3px 9px $color-dark;
    }
}

#home-heading{
     @include stickyBgImg("../images/lights.jpg", "center center")
}
#home-video{
    @include stickyBgImg("../images/media.jpg", "center center")
}
#home-heading, #home-video{
    &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color-dark,.7);
    }
}

@media all and (max-width: 600px) {
    .submitBtn{
        width: 100%;
    }
}